ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  display: block;
  outline: none;
  text-decoration: none;
}
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}
button,
input,
textarea {
  outline: none;
}
.conteiner {
  width: 940px;
  margin: 0 auto;
}
/* meie-script-regular - latin */
@font-face {
  font-family: "Meie Script";
  font-style: normal;
  font-weight: 400;
  src: local("Meie Script"), local("MeieScript-Regular"),
    url("../fonts/meie-script-v7-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/meie-script-v7-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* noto-serif-italic - latin */
@font-face {
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: 400;
  src: local("Noto Serif Italic"), local("NotoSerif-Italic"),
    url("../fonts/noto-serif-v8-latin-italic.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/noto-serif-v8-latin-italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("../fonts/montserrat-v14-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v14-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url("../fonts/montserrat-v14-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v14-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-slab-regular - latin */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/roboto-slab-v11-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/roboto-slab-v11-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
:root {
  --main-color: #222222;
  --decorative-color: #fed136;
  --main-font: "Montserrat", "Arial", sans-serif;
  --secondery-font: "Roboto Slab", "Times New Roman", Serif;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 116px;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.navigation-logo a {
  font-family: "Meie Script";
  font-size: 1.625rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.05em;

  color: var(--decorative-color);
}
.navigation-menu {
  display: flex;
}
.navigation-menu-item:not(:last-child) {
  margin-right: 40px;
}
.navigation-menu-item a {
  font-family: var(--main-font);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--main-color);
  transition: color 200ms linear;
}
.navigation-menu-item a:hover,
.navigation-menu-item a:focus {
  color: var(--decorative-color);
}
.features {
  padding: 70px 0;
}
.features-head {
  margin-bottom: 8px;
  text-align: center;
  font-family: var(--main-font);
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: -0.025em;
  text-transform: uppercase;
}
.features-description {
  text-align: center;
  margin-bottom: 38px;
  font-family: "Noto Serif", serif;
  font-size: 1rem;
  font-style: italic;
  color: #777777;
}
.features-list {
  display: flex;
  justify-content: space-between;
}
.features-list-item {
  width: 288px;
  padding: 42px 8px;
}
.features-list-item-head {
  text-align: center;
  margin-bottom: 10px;
  font-family: var(--main-font);
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -0.025em;
}
.features-list-item::before {
  content: "";
  display: block;
  margin: 0 auto 22px;
  width: 72px;
  height: 72px;
  border: 3px solid var(--decorative-color);
  border-radius: 50%;
  background: center no-repeat;
}
.basket::before {
  content: "";
  background-image: url(../icon/basket.png);
}
.laptop::before {
  content: "";
  background-image: url(../icon/laptop.png);
}
.locked::before {
  content: "";
  background-image: url(../icon/locked.png);
}
.features-list-item-description {
  text-align: center;
  font-family: var(--secondery-font);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.6;
  color: #777777;
  letter-spacing: -0.025em;
}
.contact {
  width: 100%;
  padding: 106px 0;
  background-color: var(--main-color);
  background-image: url(../img/map.png);
  background-repeat: no-repeat;
  background-size: 614px 537px;
  background-position: right bottom 19px;
}

.contact-inner-head {
  text-align: center;
  margin-bottom: 12px;
  font-family: var(--main-font);
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: -0.025em;
  text-transform: uppercase;
  color: #ffffff;
}
.contact-inner-description {
  text-align: center;
  margin-bottom: 74px;
  font-family: "Noto Serif";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2;
  font-style: italic;
  color: #777777;
}
.contact-inner-form-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;
}
.contact-inner-form-wrapper-list-item:not(:last-of-type) {
  margin-bottom: 28px;
}
.contact-inner-form-wrapper-list-item-input,
.contact-inner-form-wrapper-list-item-textarea {
  border: 1px solid #cccccc;
  border-radius: 2px;
  font-family: var(--secondery-font);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  color: #777777;
}

.contact-inner-form-wrapper-list-item-input {
  width: 456px;
  height: 52px;
  padding: 4px 20px;
}
.contact-inner-form-wrapper-list-item-textarea {
  width: 456px;
  min-height: 100%;
  padding: 14px 20px;
  resize: none;
}
.contact-inner-form-wrapper-list-item-input::placeholder,
.contact-inner-form-wrapper-list-item-textarea::placeholder {
  font-family: var(--main-font);
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.025em;
  color: #bbbbbb;
}
.contact-inner-form-wrapper-list-item-input:focus:valid:not(:placeholder-shown),
.contact-inner-form-wrapper-list-item-textarea:focus:valid:not(:placeholder-shown) {
  border: 2px solid #3ffc35;
}
.contact-inner-form-wrapper-list-item-input:focus:invalid:not(:placeholder-shown),
.contact-inner-form-wrapper-list-item-textarea:focus:invalid:not(:placeholder-shown) {
  border: 2px solid #fe8e35;
}
.contact-inner-form-button {
  display: block;
  margin: 0 auto;
  width: 240px;
  height: 66px;
  border: none;
  border-radius: 3px;
  background-color: var(--decorative-color);
  font-family: var(--main-font);
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}
.contact-inner-form-button:active {
  background-color: #fee89a;
}
